[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
uwsgi = "*"
django-bootstrap-v5 = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
freezegun = "*"

[requires]
python_version = "3.10.4"
