<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Название товара</th>
      <th scope="col">Категория</th>
      <th scope="col">Статус активности</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество заказов за прошлый месяц от текущего</th>
      <th scope="col">Количество заказов за текущий месяц, начиная с 1 дня месяца</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <th scope="row">{{ object.pk }}</th>
      <td>{{ object.name }}</td>
      <td>{{ object.category.name }}</td>

      {% if object.is_active %}
        <td>Активен</td>
        {% else %}
        <td>Не активен</td>
      {% endif %}

      <td>{{ object.price }}</td>
      <td>{{ object.monthly_statistics }}</td>
      <td>{{ object.statistics_for_current_month }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</body>
</html>